// Navigation Styles here
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    border-bottom: 2px dotted grey;
    padding-bottom: 1rem;
    padding-top: 2rem;
        nav{
        }
            a{
                text-decoration: none;
                color: black;
                margin-right: 2rem;
            }
    }